services:
  eureka-server:
    build:
      context: .
      args:
        SERVICE_NAME: eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"

  payment-service-1:
    build:
      context: .
      args:
        SERVICE_NAME: payment-service
    container_name: payment-service-1
    ports:
      - "8081:8081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy

  payment-service-2:
    build:
      context: .
      args:
        SERVICE_NAME: payment-service
    container_name: payment-service-2
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy

  order-service:
    build:
      context: .
      args:
        SERVICE_NAME: order-service
    container_name: order-service
    ports:
      - "8083:8083"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - GATEWAY_URL=http://api-gateway:8080
    depends_on:
      eureka-server:
        condition: service_healthy

  api-gateway:
    build:
      context: .
      args:
        SERVICE_NAME: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy
      redis:
        condition: service_started
